.footer{
    background-color: #FF6B3520;
    /* min-height: 2000px; */
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    padding: 50px 100px;
}
.left-footer{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.left-footer .build{
    background-color: #F97316;
    color: white;
    width: fit-content;
    padding:8px 15px;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

}
.footer-heading{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-heading h1{
    text-transform: uppercase;
    font-size: 40px;

    
}
.footer-heading p{
    font-size: 16px;
    width: 90%;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.details{
    display: flex;
    align-items: center;
    gap: 15px;
}
.details img{
    width: 35px;
    height: 35px;
    background-color: #F97316;
    padding: 5px;
    border: none;
    border-radius: 5px;

}
.detail-info p{
    font-size: 14px;
}
.others{
    display: flex;
    gap: 20px;
    align-items: center;
}
.others p{
    border: 2px solid #F97316;
    background-color: white;
    color: #F97316;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
.wrapper{
    border: 2px solid #F97316;
    border-radius: 15px;
    padding: 20px 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;

    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
}
.wrapper h3{
    text-align: center;
    margin-bottom: 20px;
}
.wrapper p{
    font-size: 16px;
    margin-bottom: 40px;
}
.wrapper .input-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input-section input{
    height: 50px;
    border: 2px solid #C3C6CF;
    border-radius: 10px;
    padding-left: 15px;
}
.type-text{
    background-color: #C3C6CF;
    padding: 15px 5px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}
textarea{
    width: 100%;
    height: 100px;
    margin-top: 40px;
    border: 2px solid #C3C6CF;
    border-radius: 10px;
    padding: 15px;
    resize: none;
}
.submit-btn{
    background-color: #F97316;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    align-self: center;
    /* width: 100%; */
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.submit-btn:hover{
    background-color: #DD6B20;
    transition: 0.5s;
}
.terms{
    text-align: center;
    font-size: 14px;
    color: #C3C6CF;
    margin-top: 20px;
}
