.hero-section{
    background: url(../images/hero-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
    width: 100%;
    padding: 0 100px;
    padding-bottom: 50px;
    position: relative;
}
.hero-section::before{
    position: absolute;
    inset: 0;
    background-color: #0D05448F;
    z-index: 1;
    content: "";
}
/* header{
    position: sticky;
    top:0;
    background: transparent;
    z-index: 100000;
} */
.menu-bar{
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
    position: relative;
    z-index: 2;
    padding-top: 20px;
    width: 100%;
}

.logo-section{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo-section .logo{
    width: 40px;
    height: auto;
}
.logo-name{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.logo-name h2{
    color: white;
    font-size: 18px;
}
.logo-name h3{
    color: #F97316;
    font-size: 15px;
    text-transform: uppercase;
}
.menu ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.menu-links li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;

}
.menu-links li a:hover::after{
    transform: scaleX(1);
}
.menu-links li .active{
    color: white;

}
.hero-info{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    z-index: 5;
    margin-bottom: 70px;
}
.hero-info h1{
    font-size: 42px;
    width: 70%;
    line-height: 1.5;
    color: #F97316;
}
.hero-info p{
    color: white;
    font-size: 14px;
    width: 50%;
    line-height: 1.5;
}
.CTA{
    display: flex;
    gap: 10px;
    align-items: center;
}
.CTA .start-btn{
    background-color: #F97316;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-weight: 500;
    cursor: pointer;
}
.CTA .start-btn:hover{
    background-color: #e48847;
    transition: 0.3s;
}
.CTA .white-btn{
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-weight: 500;
    cursor: pointer;
    /* height: fit-content; */
}
.CTA .white-btn:hover{
    background-color: rgb(199, 198, 198);
    transition: 0.3s;
}

.stats-section{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}
.stats{
    display: flex;
    gap: 10px;
    align-items: center;
}
.stats .orange-div{
    background-color: #F97316;
    width: 5px;
    height: 70px;
}
.stats-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.stats-info h4{
    font-size: 22px;
    color: white;
}
.stats-info p{
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}
