.project-section{
    background: #806B5D;
    /* min-height: 2000px; */
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.project-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 50px;
}
.project-heading h1{
    font-size: 42px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 30px;
}
.project-heading span{
    color: #F97316;
}
.project-card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    padding: 0 20%;
    gap: 40px;
    
}
.top-card{
    display: flex;
    justify-content: space-between;
}
.card{
    background-color: black;
    color: white;
    width: 35%;
    height: 270px;
    border: none;
    border-radius: 20px;
    
}
.card img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
}
.card span{
    background-color: #F97316;
    padding: 7px 10px;
    border: none;
    border-radius: 7px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
}
.card h4{
    margin-left: 10px;
    margin-top: 15px;
    font-size: 15px;
}
.location{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.location img{
    width: 20px;
    height: 20px;
    margin-bottom: 0;
}
.location p{
    font-size: 13px;
    opacity: 0.5;
}

.project-btn{
    color: white;
    background-color: #F97316;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16;
    align-self: center;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 80px;
    cursor: pointer;
}